* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: white;
    color: #333;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

section {
    padding: 50px 0px;
}

header {
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.705), rgba(0, 0, 0, 0.705)), url(../Images/hero.jpg);
    background-position: center;
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.logo {
    height: 130px;
}

.main-nav {
    list-style: none;
    display: flex;
}

.main-nav li {
    margin-right: 20px;
}

.main-nav li a {
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
}

.main-nav li a:hover {
    text-decoration: underline;
    color: orange;
}

.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.btn {
    border: solid 1px orange;
    margin-right: 15px;
    padding: 7px 15px;
    border-radius: 20px;
    color: orange;
    text-decoration: none;
}

.btn:hover {
    background-color: orange;
    color: white;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.5rem;
    text-align: center;
}

hr {
    border: solid 4px orange;
    width: 100px;
    margin: 20px auto;
    opacity: 0.5;
}

.features-info {
    width: 60%;
    margin: 0px auto;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    line-height: 1.5;
}

.box i {
    color: orange;
    font-size: 50px;
    opacity: 0.5;
}

.box h3 {
    margin-top: 15px;
    margin-bottom: 15px;
}

#meals {
    padding: 0;
    background: black;
}

.top,
.bottom {
    display: flex;
}

#meals img {
    width: 25%;
    opacity: 0.6;
    transition: all 1s;
}

#meals img:hover {
    opacity: 1;
    transform: scale(0.8);
}

#works {
    background: #F4F4F4;
}

.app-iPhone {
    width: 40%;
}

.work:first-child {
    text-align: right;
    padding-top: 40px;
}

.work:last-child {
    text-align: left;
    padding-top: 100px;
}

.step {
    display: flex;
    margin-bottom: 40px;
    align-items: center;
}

.step p {
    font-size: 18px;
    font-weight: lighter;
}

.step div {
    border: solid orange 2px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    padding: 10px;
    margin: 0 20px;
    font-size: 20px;
    font-weight: lighter;
    color: orange;
}

.store img {
    height: 50px;
    padding-left: 20px;
}

.city {
    padding-top: 15px;
}

.city h3 {
    font-size: 20px;
    margin-bottom: 10px;
    opacity: 0.8;
}

.city img {
    width: 100%;
    margin-bottom: 10px;
}

.city-info {
    display: flex;
    margin: 10px 0px;
}

.city-info i {
    color: orange;
    margin-right: 10px;
}

.city-info a {
    text-decoration: none;
    color: #333;
}

.testimonials {
    background-image: linear-gradient(rgba(0, 0, 0, 0.705), rgba(0, 0, 0, 0.705)), url(../images/back-customers.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    padding-left: 210px;
    padding-right: 210px;
}

.testimonials hr {
    opacity: 0.8;
}

.testimonials .row {
    margin-top: 70px;
}


.testimonials img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    vertical-align: middle;
}

.testimonials i {
    font-size: 20px;
}

.testimonials p {
    margin-bottom: 15px;
    font-weight: lighter;
}

.membership {
    padding-left: 250px;
    padding-right: 250px;
    background: #F4F4F4;
}

.card {
    background-color: white;
    font-size: 15px;
    margin-top: 30px;
    border-radius: 15px;
}

.first {
    height: 120px;
}

.first,
.middle {
    padding-top: 15px;
    padding-left: 15px;
}

h4 {
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 10px;
}

.middle p {
    margin-bottom: 10px;
}

.first span {
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: orange;
    font-weight: lighter;
    margin-bottom: 5px;
    opacity: 0.5;
}

.card i {
    font-size: 15px;
    color: orange;
    padding-right: 5px;
}

.card hr {
    overflow: hidden;
    margin-bottom: 0px;
    width: 100%;
    border: solid black 0.5px;
    opacity: 0.1;
}

.last {
    text-align: center;
    padding: 20px 0;
}

.last a {
    border: solid orange 1px;
    padding: 5px 10px;
    border-radius: 20px;
    text-decoration: none;
    color: orange;
}

.last a:hover {
    background: orange;
    border: solid orange 1px;
    padding: 5px 10px;
    border-radius: 20px;
    color: white;
}

#contact {
    padding: 0px;
}

.form-side {
    padding: 15px;
}

label{
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 7px;
}

input[type=text],input[type=email],
select,textarea{
    margin-bottom: 7px;
    width: 100%;
    padding: 5px;
    border: solid 2px #ddd;
    border-radius: 6px;
    font-size: 18px;
    outline-color: orange;
}

input[type=checkbox]{
    margin-bottom: 10px;
}

button{
    border: solid 1px orange;
    margin-right: 15px;
    padding: 7px 15px;
    border-radius: 7px;
    color: white;
    background-color: orange;
}

button:hover{
    color: orange;
    background-color: black;
}

footer {
    background: black;
    color: white;
    opacity: 0.7;
}

.left-nav {
    display: flex;
    width: 70%;
    list-style: none;
    padding: 30px 50px;
}

.left-nav li a {
    list-style: none;
    text-decoration: none;
    padding: 0px 15px;
    color: white;
}

.left-nav li a:hover {
    color: orange;
}

.right-nav {
    display: flex;
    list-style: none;
    padding: 30px 50px;
}

.right-nav li a {
    list-style: none;
    text-decoration: none;
    padding: 0px 5px;
    color: white;
}

.right-nav li a:hover {
    color: orange;
}

.right-nav i {
    font-size: 30px;
}

footer p {
    text-align: center;
    padding-bottom: 30px;
}
